html,
body {
    margin: 0;
    height: 100%;
}

.node-editor {
    background: rgba(255,255,255,0.7);
    height: 100% !important;
    z-index: 3;
}


#d3ne {
    position: relative;
}

#d3ne_prev {
    position: absolute;
}
.active{
    z-index: 4;
}

#toggler{
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 5;
}

.socket.number {
    background: #96b38a
}

.module-control {
    position: relative;
}

.module-control button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: white;
    border: 1px solid #564;
}

.module-editor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

#moduleheader {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

