#d3ne {
    height: 100%;
}

.socket.data {
    background: rgb(143, 125, 224)
}

.socket.act {
    background: rgb(16, 202, 16);
    border-radius: 0 !important;
    width: 16px !important;
}

id {
    position: absolute;
    left: -6px;
    top: -6px;
    background: white;
}

button.compile {
    position: absolute;
    top: 10px;
    left: 10px;
}