#d3ne {
    height: 100%;
}

.socket.data {
    background: rgb(143, 125, 224)
}

.socket.act {
    background: rgb(16, 202, 16)
}

id {
    position: absolute;
    left: -6px;
    top: -6px;
    background: white;
}